<div class="row">
	<div class="col-lg-12 text-center">
		<h1>Catering</h1>
	</div>	
</div>

<div class="row">
	<div class="col-lg-12 text-left">
		<h2>Jeremy Sinitean & Sarah Van Geem Wedding</h2>
		<h2>May 7th, 2016</h2>
		<p>Bridgeport Art Center – Skyline Loft</p>
		<p>1200 W. 35th St. Chicago, IL</p>
		<p>Guest count: ~175</p>
	</div>
</div>		

<div class="row">
	<div class="col-lg-12 text-left">
		<h2>Ceremony Location & Time: Bridgeport Art Center Skyline Loft, 5:30-6pm</h2>
		<p class="text-muted">Guest arrival time: 5pm</p>
		<p>Cocktail Hour Location & Time: Bridgeport Art Center Skyline Loft, 6-7:30pm</p>
		<p>Reception Location & Time: Bridgeport Art Center Skyline Loft, 7:30-12am</p>
		<p class="text-muted">- Same space as ceremony, will need to be flipped for reception during cocktail hour</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 text-left"> 
		<h2>Cocktail Hour Details (6-7:30pm)</h2>
		<p class="text-muted">3-4 passed appetizers</p>
		<p>Interested hors d'oeuvres include:</p>
		<ul>
			<li>Mexican inspired</li>
			<li>Asian inspired</li>
			<li>American inspired</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 text-left"> 
		<h2>Reception/Dinner Details</h2>
		<p>Salad and bread at table when guests seated at 7:30</p>
		<p>Plated dinner</p>
		<ul>
			<li>One meat (poultry likely)</li>
			<li>One vegan option</li>
			<li>Veggie option? Asparagus?</li>
			<li>Starch options? Potatoes, risotto, pasta?</li>
		</ul>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 text-left"> 
		<h2>Desserts Contracted Elsewhere</h2>
		<p>Coffee buffet for 125; No tea</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 text-left"> 
		<h2>Bar</h2>
		<p>Already contracted through VenueLogic/BAC</p>
		<p>Need Staff</p>
	</div>
</div>

<div class="row">
	<div class="col-lg-12 text-left"> 
		<h2>Need:</h2> 
		<ul>
			<li>Standard Table Linens</li>
			<li>Formal Silverware</li>
			<li>Linen Napkins</li>
			<li>Plates</li>
			<li>Cups</li>
			<li>Barware</li>
			<li>Glassware</li>
			<li>Bartenders</li>
		</ul>	
	</div>
</div>

<div class="row">
	<div class="col-lg-12 text-left"> 
		<h2>Provided Seating at Bridgeport Art Center:</h2>
			<p class="text-muted">2 repurposed 8’ bars</p>
			<p class="text-muted">25 – 66” rounds</p>
			<p class="text-muted">10 – 30” high boys</p>
			<p class="text-muted">10 – 36” cabaret</p>
			<p class="text-muted">10 - 8’ tables</p>
			<p class="text-muted">10 – 6’ tables</p>
			<p class="text-muted">250 chairs</p>
	</div>
</div>
