<div id="imageView3">
<img src="<%= asset_path( 'farm.png' ) %>" class="img-responsive" alt="Responsive image">
<h2> Hyatt McCormick Place </h2>
	  <center>
      <a class='mainimage3' href='http://mccormickplace.hyatt.com/en/hotel/home.html'></a>  
  	  </center>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11887.565838032304!2d-87.618415!3d41.852163!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdbbb37b7cca93668!2sHyatt+Regency+McCormick+Place!5e0!3m2!1sen!2sus!4v1422065880729" width="400" height="250" frameborder="0" style="border:0"></iframe>
</div>     