<h2>No Clue...</h2>
<h5>...Yet</h5>

<div id="clearfooter"></div>

<h3> 1000 W Adams St </h3>
<center>
      <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2970.618654578638!2d-87.6523246!3d41.87955049999999!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2cdc3d0d3d8d%3A0x8ae3e9c4bd329550!2s1000+W+Adams+St%2C+Chicago%2C+IL+60607!5e0!3m2!1sen!2sus!4v1420517497161" width="650" height="350" frameborder="1" style="border:inset"></iframe>
</center>