
<section id="about" class="bg-light-gray">
	<div class="row">
	<img src="<%= asset_path( 'weddn.jpg' ) %>" class="img-responsive center-block" alt="">
	</div>
</section>	

<section id="about" class="bg-light-gray">
	<div class="row">
		<div class="col-md-2 text-center"></div>
		<div class="col-md-8 text-center">
			<p class="text-muted">
				<script type="text/javascript">
					today = new Date();
					BigDay = new Date("May 7, 2016");
					msPerDay = 24 * 60 * 60 * 1000 ;
					timeLeft = (today.getTime() - BigDay.getTime());
					e_daysLeft = timeLeft / msPerDay;
					daysLeft = Math.floor(e_daysLeft);
					document.write("Jeremy & Sarah were married " + daysLeft + " days ago");
				</script>
			</p> 
			<h4 class="section-heading">#JerSar2016</h4>
		</div> 
		<div class="col-md-2 text-center"></div>    
	</div>
</section>


