

<h1>Wedding - 2016</h1>
<h2>Jeremy & Sarah</h2>
<div id="imageView">
      <%= link_to("", {:controller => 'welcome', :action => 'index'}, :class => 'mainimage') %>
</div>
<h4>Sinitean & Van Geem</h4>

