
  <div class="col-md-12 col-sm-12">
    <h2> Jeremy & Sarah are getting married! </h2>
    <h2> <small> Who's ready to celebrate? </small> </h2>
  </div>
  <!-- Team Section -->
  <section id="about" class="bg-light-gray">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">May 7, 2016</h2>
        </div>
      </div>
      <div class="row text-center">
        <div class="col-md-2">
        </div>
        <div class="col-md-4">
          <div class="size-pic">
            <img src="<%= asset_path( 'photo4.png' ) %>" class="img-responsive img-circle center-block" alt="">
            <h4>Sarah Van Geem</h4>
            <p class="text-muted">Bride</p>
          </div>
        </div>
        <div class="col-md-4">
          <div class="size-pic">
            <img src="<%= asset_path( 'photo1.jpg' ) %>" class="img-responsive img-circle center-block" alt="">
            <h4>Jeremy Sinitean</h4>
            <p class="text-muted">Groom</p>
          </div>
        </div>
        <div class="col-md-2">
        </div>
      </div>
  </section>

  <!-- Services Section -->
  <section id="location" class="bg-light-gray">
      <div class="row">
        <div class="col-lg-12 text-center">
          <h2 class="section-heading">Location</h2>
         </div> 
      </div>
      <div>
        <img class="img-responsive center-block" src="/assets/BridgeportLogo.png" alt="">
      </div>
      <div class="row text-center">
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
          <div class="bridgeport-demo-pic">             
          <img class="img-circle img-responsive center-block" src="/assets/mapbridge.png" alt="">
          </div>
          <h4 class="service-heading">Address</h4>
          <p class="text-muted">1200 W 35th Street </br>
            Chicago, IL 60609</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
          <div class="bridgeport-demo-pic">          
          <img class="img-circle img-responsive center-block" src="/assets/skylineloft2.png" alt="">
          </div>
          <h4 class="service-heading">Skyline Loft</h4>
          <p class="text-muted">Solid wood flooring with dramatic inlays</br>
            Exposed brick walls</br>
            120 ft. skylight</p>
        </div>
        <div class="col-md-4">
          <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
          <div class="bridgeport-demo-pic">             
          <img class="img-circle img-responsive center-block" src="/assets/elevator.png" alt="">
          </div>   
          <h4 class="service-heading">Elevator</h4>
          <p class="text-muted">Up to the 5th Floor</br>
            Lasting around 45-60 seconds</p>
        </div>
      </div>
  </section>

  <section id="hotel">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2 class="section-heading">Hyatt McCormick Place</h2>
      </div>
    </div>    
    <div class="row">
      <div class="col-lg-12 text-center">
        <div class="col-lg-4"></div>  
        <div class="col-lg-4">
          <center>
          <img src="<%= asset_path( 'Hyatt.png' ) %>" class="img-responsive">
          </center>
        </div>
        <div class="col-lg-4"></div>
      </div>    
    </div>
    <div class="row">      
      <div class="col-lg-12 text-center">      
        <div class="col-lg-4"> </div>
        <div class="col-lg-4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d11887.565838032304!2d-87.618415!3d41.852163!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xdbbb37b7cca93668!2sHyatt+Regency+McCormick+Place!5e0!3m2!1sen!2sus!4v1422065880729" width="100%" height="Auto" frameborder="0" style="border:0">
          </iframe>
        </div>
        <div class="col-lg-4"> </div>
      </div>
    </div>
  </section>


<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-64606916-1', 'auto');
  ga('send', 'pageview');

</script>



  <!-- Plugin JavaScript -->
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>