<h2>Puppy Piper</h2> 
<h4>Cause Why Not?</h4>

<div id="owl-demo" class="owl-carousel owl-theme">
 
  <div class="item"><img src="welcome/assets/piper1.png" alt="The Last of us"></div>
  <div class="item"><img src="welcome/assets/piper1.png" alt="GTA V"></div>
  <div class="item"><img src="welcome/assets/piper1.png" alt="Mirror Edge"></div>
 
</div>