<div class="row"> <div class="col-lg-12 text-center">
		<h1>Songs</h1>
	</div>	
</div>

<div class="row">
	<div class="col-lg-4 text-left">
		<h2>Slow Jams:</h2>
	</div>
</div>

<div class="row">	
	<div class="col-lg-4 text-left">
		<p></p>
	</div>

	<div class="col-lg-4 text-left">
		<p></p>
	</div>

	<div class="col-lg-4 text-left">
		<p></p>
	</div>
</div>

<div class="row">
	<div class="col-lg-4 text-left">
		<h2>50's & 60's:</h2>
	</div>

	<div class="col-lg-8 text-left">
		<p class="text-muted">CLASSIC SOUL, MOTOWN, STAX, DUSTIES & BRIT INVASION:</p>
	</div>
</div>

<div class="row">	
	<div class="col-lg-4 text-left">
		<p></p>
	</div>

	<div class="col-lg-4 text-left">
		<p></p>
	</div>

	<div class="col-lg-4 text-left">
		<p></p>
	</div>
</div>


STALE</p>
IT’S JUST THAT: STALE. PASS!</p>

<p>Artists who have a reality show</p>
<p>Blues Brothers Soundtrack</p>
<p>Bulls Theme</p>
<p>Casper Slide</p>
<p>Cha Cha Slide</p>
<p>Electric Slide</p>
<p>Sliding, In General</p>
<p>Celebration</p>
<p>Chicken Dance</p>
<p>Cotton Eyed Joe</p>
<p>Cupid Shuffle</p>
<p>Dances that require props</p>
<p>Dances that require an explanation</p>
<p>Dramatic country songs about daddies & their daughters</p>
<p>Flashmobs</p>
<p>Grease Soundtrack</p>
<p>Hokey Pokey</p>
<p>Jimmy Buffett</p>
<p>Jock Jamz</p>
<p>Lady In Red</p>
<p>Last Dance</p>
<p>Love Shack</p>
<p>Macarena</p>
<p>Mambo #5</p>
<p>Mashups</p>
<p>Meatloaf/ Paradise By The Dashboard Light</p>
<p>Medleys of any kind</p>
<p>Megamixes of any kind</p>
<p>Nü Country</p>
<p>Nü Metal</p>
<p>Old Time Rock 'N' Roll</p>
<p>Red Solo Cup</p>
<p>Rocky Horror Picture Show</p>
<p>Save A Horse, Ride A Cowboy!</p>
<p>Strokin'</p>
<p>We Are Family</p>
<p>Y'all Ready For This?</p>
<p>You're Beautiful</p>
<p>You Are So Beautiful</p>
<p>Your Body Is A Wonderland</p>
<p>Excessively earnest love songs</p>
<p>by wimpy men</p>
<p>YMCA</p>

<p>SWEET!</p>
<p>SLOW JAMS, JAZZ, AND SWING.</p>

<p>Al Green - Let’s Stay Together</p>
<p>Alicia Keys - No One</p>
<p>The Association - Never My Love</p>
<p>The Avett Brothers - Living Of Love</p>
<p>The Beach Boys - God Only Knows</p>
<p>The Beatles - In My Life</p>
<p>The Bee Gees - How Deep Is Your Love</p>
<p>Ben Folds - The Luckiest</p>
<p>Ben E. King - Stand By Me</p>
<p>Benny Goodman - Sing Sing Sing</p>
<p>Bill Withers - Lovely Day</p>
<p>Billie Holiday - I’ll Be Seeing You</p>
<p>Black Keys - You’re The One</p>
<p>Bobby Darin - Beyond The Sea</p>
<p>Bob Marley - Is This Love</p>
<p>Bright Eyes - The First Day Of My Life</p>
<p>Bruno Mars - Count On Me</p>
<p>Bryan Ferry - Slave To Love</p>
<p>Cat Power - Sea Of Love</p>
<p>Cat Stevens - The Wind</p>
<p>Chad & Jeremy - A Summer Song</p>
<p>Chet Baker - Isn’t It Romantic</p>
<p>Crowded House - Don't Dream It’s Over</p>
<p>Death Cab - I Will Follow You Into The Dark</p>
<p>Dean Martin - That’s Amore</p>
<p>Depeche Mode - Somebody</p>
<p>The Drifters - Save The Last Dance For Me</p>
<p>Edith Piaf - La Vie En Rose</p>
<p>Elton John - Tiny Dancer</p>
<p>Ella Fitzgerald - Dream A Little Dream</p>
<p>Elton John - Tiny Dancer</p>
<p>Elvis Presley - Can’t Help Falling In Love</p>
<p>Etta James - At Last</p>
<p>The Flamingos - I Only Have Eyes For You</p>
<p>Frank Sinatra - The Way You Look Tonight</p>
<p>Frankie Valli - Can’t Take My Eyes Off Of You</p>
<p>George Ezra - Budapest</p>
<p>Glenn Miller - In The Mood</p>
<p>Harry Connick Jr. - It Had To Be You</p>
<p>Hozier - Take Me To Church</p>
<p>Indigo Girls - Power of Two</p>
<p>James Taylor - How Sweet It Is</p>
<p>The Jesus & Mary Chain - Just Like Honey</p>
<p>Johnny Cash - Rose Of My Heart</p>
<p>John Legend - All Of Me</p>
<p>Kenny Rogers & Dolly Parton - Islands In The</p>
<p>Stream</p>
<p>Lionel Ritchie - Easy</p>
<p>Loudon Wainwright III - Daughter</p>
<p>Louis Armstrong - What A Wonderful World</p>
<p>Louis Jordan - Knock Me A Kiss</p>
<p>The Lumineers - Ho Hey</p>
<p>Madonna - Crazy For You</p>
<p>The Magnetic Fields - Book of Love</p>
<p>Milky Chance - Stolen Dance</p>
<p>Nat King Cole - L.O.V.E.</p>
<p>Neil Young - Harvest Moon</p>
<p>Nick Drake - Pink Moon</p>
<p>Nina Simone - My Baby Just Cares For Me</p>
<p>Norah Jones - Come Away With Me</p>
<p>Old Crow Medicine Show - Wagon Wheel</p>
<p>Otis Redding - These Arms Of Mine</p>
<p>Patsy Cline - Crazy</p>
<p>Paul McCartney - Maybe I’m Amazed</p>
<p>The Penguins - Earth Angel</p>
<p>Peter Gabriel - In Your Eyes</p>
<p>Raphael Saadiq - Love That Girl</p>
<p>Ray LaMontagne - You Are The Best Thing</p>
<p>Rolling Stones - Waiting On A Friend</p>
<p>The Ronettes - Be My Baby</p>
<p>Sam Cooke - That’s Where It's At</p>
<p>Sam Smith - Stay With Me</p>
<p>Santo & Johnny - Sleepwalk</p>
<p>The Shins - New Slang</p>
<p>Sade - By Your Side</p>
<p>Spandau Ballet - True</p>
<p>Stevie Wonder - I Believe</p>
<p>Tracy Chapman - The Promise</p>
<p>Van Morrison - Into The Mystic</p>
<p>Velvet Underground - I’ll Be Your Mirror</p>
<p>The Zombies - This Will Be Our Year</p>


<p>Aretha Franklin - Respect</p>
<p>Archie Bell - Tighten Up</p>
<p>The Bar-Kays - Soulfinger</p>
<p>The Beach Boys - I Get Around</p>
<p>The Beatles - Twist & Shout</p>
<p>Bill Withers - Lean On Me</p>
<p>Bobby Day - Rockin’ Robin</p>
<p>Booker T & The MG’s - Green Onions</p>
<p>Brenton Woods - Oogum Boogum</p>
<p>Buddy Holly - That’ll Be The Day</p>
<p>Chuck Berry - You Never Can Tell</p>
<p>Darlene Love - (Today I Met) The Boy</p>
<p>I'm Gonna Marry</p>
<p>Dionne Warwick - Say A Little Prayer</p>
<p>Dion - Runaround Sue</p>
<p>Donovan - Sunshine Superman</p>
<p>Dusty Springfield - Son Of A Preacher Man</p>
<p>Elvis Presley - Hound Dog</p>
<p>Fontella Bass - Rescue Me</p>
<p>The Foundations - Build Me Up Buttercup</p>
<p>The Four Tops - Sugar Pie, Honey Bunch</p>
<p>Gloria Jones - Tainted Love</p>
<p>Gladys Knight & The Pips - Midnight Train</p>
<p>To Georgia</p>
<p>The Human Beinz - Nobody But Me</p>
<p>The Jackson 5 - I Want You Back</p>
<p>James Brown - Get Up Offa That Thing</p>
<p>Johnny Cash - Ring Of Fire</p>
<p>The Kinks - All Day & All Of The Night</p>
<p>The Mamas & The Papas - California Dreaming</p>
<p>Martha & The Vandellas - Nowhere To Run</p>
<p>Marvin Gaye & Tammi Terrell – Ain’t No</p>
<p>Mountain High Enough</p>
<p>Mary Wells - My Guy</p>
<p>Maurice Williams & The Zodiacs - Stay</p>
<p>The McCoys - Hang On Sloopy</p>
<p>Mickey & Sylvia - Love Is Strange</p>
<p>The Monkees - I’m A Believer</p>
<p>Neil Diamond - Sweet Caroline</p>
<p>Otis Redding - Love Man</p>
<p>Otis Day - Shout</p>
<p>Peggy Lee - Fever</p>
<p>? and the Mysterians - 96 Tears</p>
<p>The Rascals - Good Lovin’</p>
<p>Ray Charles - Mess Around</p>
<p>Rolling Stones - Get Off Of My Cloud</p>
<p>Roy Orbison - Pretty Woman</p>
<p>Sam Cooke - Wonderful World</p>
<p>Simon & Garfunkel - Cecilia</p>
<p>Sly & The Family Stone - Dance To The Music</p>
<p>Solomon Burke - Cry To Me</p>
<p>Smokey Robinson - Tears Of A Clown</p>
<p>Spencer Davis Trio - Gimme Some Lovin’</p>
<p>Stevie Wonder - Signed, Sealed, Delivered</p>
<p>The Supremes - You Can’t Hurry Love</p>
<p>The Temptations - My Girl</p>
<p>Tommy James - Mony Mony</p>
<p>Tom Jones - It’s Not Unusual</p>
<p>The Troggs - With A Girl Like You</p>
<p>Van Morrison - Brown Eyed Girl</p>

<p>SEVENTIES: R&B, ROCK, DISCO, FUNK, EASY LISTENING & AM GOLD.</p>

<p>ABBA - Dancing Queen</p>
<p>Al Green - Love & Happiness</p>
<p>Andrea True - More More More</p>
<p>Barry White - Can’t Get Enough Of Your Love</p>
<p>Bee Gees - Staying Alive</p>
<p>Big Star - I’m In Love With A Girl</p>
<p>Billy Joel - Piano Man</p>
<p>Blondie - Heart Of Glass</p>
<p>Blue Suede - Hooked On A Feeling</p>
<p>Bob Seger - Night Moves</p>
<p>Boz Skaggs - Lowdown</p>
<p>Cheap Trick - I Want You To Want Me</p>
<p>Cheryl Lynn - Got To Be Real</p>
<p>Chic - Le Freak</p>
<p>Climax Blues Band - Couldn’t Get It Right</p>
<p>Curtis Mayfield - Superfly</p>
<p>David Bowie - Young Americans</p>
<p>Don McLean - American Pie</p>
<p>Donna Summer - Bad Girls</p>
<p>Earth, Wind & Fire - September</p>
<p>Electric Light Orchestra - Mr Blue Sky</p>
<p>Elvis Presley - Suspicious Minds</p>
<p>The Emotions - Best Of My Love</p>
<p>The Faces - Ooh La La</p>
<p>Fleetwood Mac - You Can Go Your Own Way</p>
<p>Frankie Valli - December ‘63</p>
<p>(Oh, What A Night)</p>
<p>George Clinton - Atomic Dog</p>
<p>Gerry Rafferty - Right Down The Line</p>
<p>Gloria Gaynor - I Will Survive</p>
<p>The Grateful Dead - Shakedown Street</p>
<p>Heart - Barracuda</p>
<p>Heatwave - Boogie Nights</p>
<p>Hot Chocolate - You Sexy Thing</p>
<p>Isaac Hayes - Theme From “Shaft”</p>
<p>Journey - Don't Stop Believing</p>
<p>KC & The Sunshine Band - Boogie Shoes</p>
<p>King Harvest - Dancing In The Moonlight</p>
<p>The Knack - My Sharona</p>
<p>Kool & The Gang - Get Down On It</p>
<p>Lipps, Inc. - Funkytown</p>
<p>Looking Glass - Brandy (You’re A Fine Girl)</p>
<p>Lou Reed - Walk On The Wild Side</p>
<p>Marvin Gaye - Got To Give It Up</p>
<p>Michael Jackson - Don't Stop ‘Til You</p>
<p>Get Enough</p>
<p>Parliament - Flash Light</p>
<p>Paul Simon - Me & Julio Down By</p>
<p>The Schoolyard</p>
<p>Pete Townsend - Let My Love Open The Door</p>
<p>Queen - Don’t Stop Me Now</p>
<p>Rick James - Superfreak</p>
<p>Rod Stewart - Maggie May</p>
<p>Rose Royce - Car Wash</p>
<p>Rufus & Chaka Khan - Tell Me</p>
<p>Something Good</p>
<p>Seals & Crofts - Summer Breeze</p>
<p>The Spinners - Could It Be I’m Falling In Love</p>
<p>The Staple Singers - I’ll Take You There</p>
<p>Steeler’s Wheel - Stuck In The Middle</p>
<p>Steely Dan - Peg</p>
<p>Steve Miller Band - Jungle Love</p>
<p>Stevie Wonder - Sir Duke</p>
<p>Stories - Brother Louie</p>
<p>Sugar Hill Gang - Apache</p>
<p>Supertramp - Goodbye Stranger</p>
<p>The Sweet - Ballroom Blitz</p>
<p>A Taste Of Honey - Boogie Oogie Oogie</p>
<p>Tavares - Heaven Must Be Missing An Angel</p>
<p>Thelma Houston - Don’t Leave Me This Way</p>
<p>Tom Petty - American Girl</p>
<p>T. Rex - Jeepster</p>
<p>WAR - Low Rider</p>
<p>The Who - Baba O’Reilly</p>
<p>Wild Cherry - Play That Funky Music</p>
<p>Wings - Silly Love Songs</p>

<p>EIGHTIES & NINTIES: POPULAR HITS, NEW WAVE, RETRO, HAIR METAL & GUILTY PLEASURES.</p>

<p>AC/DC - You Shook Me All Night Long</p>
<p>Ace Of Base - All That She Wants</p>
<p>A-Ha - Take On Me</p>
<p>B52’s - Rock Lobster</p>
<p>Backstreet Boys - I Want It That Way</p>
<p>Bananarama - Cruel Summer</p>
<p>Beck - Sexx Laws</p>
<p>Billy Idol - Dancing With Myself</p>
<p>Bjork - Big Time Sensuality</p>
<p>Blackstreet - No Diggity</p>
<p>Blind Melon - No Rain</p>
<p>Blur - Girls & Boys</p>
<p>Bobbi Brown - My Prerogative</p>
<p>Bon Jovi - Livin’ On A Prayer</p>
<p>Bonnie Tyler - Total Eclipse Of The Heart</p>
<p>Boyz II Men - Motownphilly</p>
<p>Brandy & Monica - The Boy Is Mine</p>
<p>Breeders - Cannonball</p>
<p>Bruce Springsteen - Dancing In The Dark</p>
<p>Bryan Adams - Summer Of ‘69</p>
<p>Cajmere - Percolator</p>
<p>Cardigans - Love Fool</p>
<p>The Cars - Just What I Needed</p>
<p>C+C Music Factory - Gonna Make You Sweat</p>
<p>The Clash - Train In Vain</p>
<p>Corey Hart - Sunglasses At Night</p>
<p>Crystal Waters - 100% Pure Love</p>
<p>The Cure - Just Like Heaven</p>
<p>Darude - Sandstorm</p>
<p>David Bowie - Modern Love</p>
<p>Dead or Alive - You Spin Me Right Round</p>
<p>Deee-Lite - Groove Is In The Heart</p>
<p>Def Leppard - Pour Some Sugar On Me</p>
<p>Depeche Mode - Just Can’t Get Enough</p>
<p>Destiny's Child - Independent Women (Pt. 1)</p>
<p>Devo - Whip It!</p>
<p>Dexy’s Midnight Runners - Come On Eileen</p>
<p>Duran Duran - Hungry Like The Wolf</p>
<p>Echo & The Bunnymen - Lips Like Sugar</p>
<p>Eddie Money - Take Me Home Tonight</p>
<p>Elvis Costello - Pump It Up</p>
<p>English Beat - I Confess</p>
<p>En Vogue - My Lovin’</p>
<p>(You're Never Gonna Get It)</p>
<p>Erasure - A Little Respect</p>
<p>Fatboy Slim - Rockafeller Skank</p>
<p>General Public - Tenderness</p>
<p>George Michael - Freedom ‘90</p>
<p>The Go-Go’s - Our Lips Are Sealed</p>
<p>Guns N’ Roses - Sweet Child O’ Mine</p>
<p>Hall & Oates - You Make My Dreams</p>
<p>The Hooters - And We Danced</p>
<p>Huey Lewis & The News - I Want A New Drug</p>
<p>The Jam - A Town Called Malice</p>
<p>James - Laid</p>
<p>Jamiroquai - Canned Heat</p>
<p>John “Cougar” Mellencamp - Jack & Diane</p>
<p>Joy Division - Love Will Tear Us Apart</p>
<p>Lionel Ritchie - All Night Long</p>
<p>Lisa Loeb - Stay</p>
<p>K-Ci & JoJo - All My Life</p>
<p>Kenny Loggins - Footloose</p>
<p>Kim Wilde - Kids In America</p>
<p>Madness - Our House</p>
<p>Madonna - Like A Prayer</p>
<p>Men At Work - Land Down Under</p>
<p>Men Without Hats - The Safety Dance</p>
<p>Michael Jackson - Billie Jean</p>
<p>Michael McDonald – Sweet Freedom</p>
<p>Modern English - Melt With You</p>
<p>Nena - 99 Red Balloons</p>
<p>New Edition - Cool It Now</p>
<p>New Order - Bizarre Love Triangle</p>
<p>Nu Shooz - I Can't Wait</p>
<p>N’Sync - Bye Bye Bye</p>
<p>Paul Oakenfold - Starry Eyed Surprise</p>
<p>Oasis -Wonderwall</p>
<p>OMD - If You Leave</p>
<p>The Outfield - Your Love</p>
<p>Paul Simon - You Can Call Me Al</p>
<p>Pet Shop Boys - West End Girls</p>
<p>The Pixies - Here Comes Your Man</p>
<p>Pointer Sisters - Jump For My Love</p>
<p>Prince - Raspberry Beret</p>
<p>The Proclaimers - 500 Miles</p>
<p>Queen - Under Pressure (ft. David Bowie)</p>
<p>The Ramones - Blitzkrieg Bop</p>
<p>REM - It’s The End Of The World</p>
<p>(As We Know it)</p>
<p>The Replacements - I Will Dare</p>
<p>Rick Astley - Never Gonna Give You Up</p>
<p>Rick Springfield - Jessie’s Girl</p>
<p>Rusted Root - Send Me On My Way</p>
<p>Shaggy - Boombastic</p>
<p>The Smiths - This Charming Man</p>
<p>Soft Cell - Tainted Love</p>
<p>Soul II Soul - Back To Life</p>
<p>Spice Girls - Wannabe</p>
<p>The Stone Roses - Fools Gold</p>
<p>Talking Heads – This Must Be The Place</p>
<p>(Naïve Melody)</p>
<p>Technotronic - Pump Up The Jam</p>
<p>Tom Tom Club - Genius Of Love</p>
<p>Toto - Africa</p>
<p>Violent Femmes - Blister In The Sun</p>
<p>Wham - Wake Me Up Before You Go-Go</p>
<p>Weezer - Say It Ain’t So</p>
<p>When In Rome - The Promise</p>
<p>White Snake - Here I Go Again</p>
<p>Whitney Houston - I Wanna Dance With Somebody</p>

<p>TWO THOUSANDS: CURRENT HITZ, INDIE ROCK & CHEESY DANCE.</p>

<p>Amy Winehouse – Valerie (w/ Mark Ronson)</p>
<p>Avicii - Wake Me Up</p>
<p>Bastille - Pompeii</p>
<p>Benny Benassi & The Biz - Satisfaction</p>
<p>Beyoncé - Single Ladies (Put A Ring On It)</p>
<p>Billy Bragg & Wilco - California Stars</p>
<p>Black Eyed Peas - The Time (Dirty Bit)</p>
<p>Britney Spears - Scream & Shout (ft. will.i.am)</p>
<p>Bruno Mars - Treasure</p>
<p>Calvin Harris - Summer</p>
<p>Capital Cities - Safe & Sound</p>
<p>Carly Rae Jepson - Call Me Maybe</p>
<p>Cee-Lo Green - Forget You</p>
<p>Cobra Starship - You Make Me Feel...</p>
<p>Cut Copy - Lights & Music</p>
<p>Daddy Yankee - Gasolina</p>
<p>Daft Punk - Get Lucky (ft. Pharrell Williams)</p>
<p>The Darkness - I Believe In A Thing</p>
<p>Called Love</p>
<p>David Guetta - Where Them Girls At (ft. Nicki</p>
<p>Minaj & Flo Rida</p>

<p>TWO THOUSANDS: CURRENT HITZ, INDIE ROCK & CHEESY DANCE…CONTINUED</p>

<p>Disclosure - Latch (ft. Sam Smith)</p>
<p>Don Omar - Danza Kuduro (ft. Lucenzo)</p>
<p>Edward Maya and Vika Jigulina - Stereo Love</p>
<p>Edward Sharp & The Magnetic Zeros - Home</p>
<p>Ellie Goulding - Anything Could Happen</p>
<p>Empire of the Sun - Walking On A Dream</p>
<p>Enrique Iglesias - Bailando (ft. Sean Paul,</p>
<p>Descemer Bueno & Gente de Zona)</p>
<p>Eric Prydz - Call On Me</p>
<p>Estelle - American Boy (ft. Kanye West)</p>
<p>Fitz & The Tantrums - The Walker</p>
<p>Florence And The Machine - Dog Days</p>
<p>Are Over</p>
<p>Foster the People - Pumped Up Kicks</p>
<p>The Fratellis - Chelsea Dagger</p>
<p>fun. - We Are Young</p>
<p>Grouplove - Tongue Tied</p>
<p>Gwen Stefani - Hollaback Girl</p>
<p>Haim - Forever</p>
<p>The Heavy - How You Like Me Now</p>
<p>Hot Chip - Over & Over</p>
<p>Icona Pop - I Love It</p>
<p>Jason Derulo – Wiggle (ft. Snoop Dogg)</p>
<p>Jessie J, Ariana Grande & Nicki Minaj - Bang</p>
<p>Bang</p>
<p>Justin Bieber – Baby</p>
<p>Justin Timberlake - Rock Your Body</p>
<p>Katy Perry - Dark Horse (ft. Juicy J)</p>
<p>Ke$ha - Die Young</p>
<p>Kid Cudi - Day ‘N’ Nite</p>
<p>The Killers - Mr. Brightside</p>
<p>Lady Gaga - Applause</p>
<p>La Roux - Bulletproof</p>
<p>LCD Soundsystem - All My Friends</p>
<p>Le Tigre - Deceptacon</p>
<p>LMFAO - Sexy and I Know It</p>
<p>Lorde - Royals</p>
<p>M83 - Midnight City</p>
<p>Macklemore & Ryan Lewis - Can’t Hold Us</p>
<p>Mark Ronson - Uptown Funk (ft. Bruno Mars)</p>
<p>Maroon 5 - Sugar</p>
<p>Martin Solveig & Dragonette - Hello</p>
<p>Meghan Trainor - Lips Are Movin’</p>
<p>MGMT - Kids</p>
<p>M.I.A. - Paper Planes</p>
<p>Miley Cyrus - We Can’t Stop</p>
<p>Modest Mouse - Float On</p>
<p>Of Monsters & Men - Little Talks</p>
<p>One Direction - Best Song Ever</p>
<p>Outkast - Hey Ya</p>
<p>Passion Pit - Take A Walk</p>
<p>Pharrell Williams - Happy</p>
<p>Phoenix - Entertainment</p>
<p>Pitbull - Fireball (ft. John Ryan)</p>
<p>The Postal Service - Such Great Heights</p>
<p>Rihanna - Only Girl (In The World)</p>
<p>Robyn - Call Your Girlfriend</p>
<p>Scissor Sisters - Don’t Feel Like Dancin’</p>
<p>Sia - Chandelier</p>
<p>The Strokes - Last Night</p>
<p>Taio Cruz - Dynamite</p>
<p>Taylor Swift - Shake It Off</p>
<p>Temper Trap - Sweet Disposition</p>
<p>Timbaland - Give It To Me (ft. Nelly Furtado)</p>
<p>Usher - DJ Got Us Fallin’ In Love (ft. Pitbull)</p>
<p>Vampire Weekend - Diane Young</p>
<p>Vance Joy - Riptide</p>
<p>The White Stripes - Fell In Love With A Girl</p>
<p>Yeah Yeah Yeahs - Maps</p>
<p>Yolanda Be Cool & DCup -</p>
<p>We No Speak Americano</p>
<p>HIP HOP, R&B, OLD SKOOL.</p>
<p>Aaliyah - Are You That Somebody?</p>
<p>A Tribe Called Quest - Scenario</p>
<p>Beastie Boys - Intergalactic</p>
<p>Bell Biv DeVoe - Poison</p>
<p>Biz Markie - Just A Friend</p>
<p>Black Sheep - The Choice Is Yours (Revisited)</p>
<p>Cali Swag District - Teach Me How To Dougie</p>
<p>De La Soul - Me Myself & I</p>
<p>Digable Planets - Rebirth Of Slick</p>
<p>(Cool Like Dat)</p>
<p>Digital Underground - The Humpty Dance</p>
<p>DJ Khaled - All I Do Is Win</p>
<p>DJ Kool - Let Me Clear My Throat</p>
<p>DJ Snake & Lil Jon - Turn Down For What</p>
<p>Drake - Hold On We’re Going Home (ft. Majid</p>
<p>Jordan)</p>
<p>Dr. Dre - Nuthin’ But A G Thang</p>
<p>(ft. Snoop Dogg)</p>
<p>50 Cent - In Da Club</p>
<p>Flo Rida - GDFR (ft. Sage The Gemini &</p>
<p>Lookas)</p>
<p>Ginuwine - Pony</p>
<p>Grandmaster Flash - White Lines</p>
<p>Heavy D & The Boys - Now That</p>
<p>We Found Love</p>
<p>House of Pain - Jump Around</p>
<p>Ice Cube - You Can Do It</p>
<p>(Put Your Back Into It)</p>
<p>Iggy Azalea - Fancy (ft. Charli XCX)</p>
<p>I LOVE MAKONNEN - Tuesday (ft. Drake)</p>
<p>Jay-Z - Empire State Of Mind (ft. Alicia Keys)</p>
<p>JJ Fad - Supersonic</p>
<p>Kanye West - Good Life</p>
<p>Kriss Kross - Jump Jump</p>
<p>Lauryn Hill - That Thing</p>
<p>Lil Jon - Get Low</p>
<p>Lil Mama - Lip Gloss</p>
<p>LL Cool J - Going Back To Cali</p>
<p>Ludacris - What Them Girls Like</p>
<p>Major Lazer - Bubble Butt</p>
<p>(ft. Bruno Mars, Tyga & Mystic)</p>
<p>Mark Morrison - Return of the Mac</p>
<p>Mary J Blige - Family Affair</p>
<p>Mase - Feel So Good</p>
<p>Missy Elliott - Get Ur Freak on</p>
<p>Montell Jordan - This Is How We Do it</p>
<p>Nelly - Ride Wit Me</p>
<p>Nicki Minaj - Starships</p>
<p>Notorious B.I.G. - Hypnotize</p>
<p>Ol’ Dirty Bastard - Baby, I Got Your Money</p>
<p>Punjabi MC - Beware Of The Boys (ft. Jay-Z)</p>
<p>R. Kelly - Ignition (Remix)</p>
<p>Rob Base & DJ EZ Rock - It Takes Two</p>
<p>Run DMC - It's Tricky</p>
<p>Salt-N-Pepa - Shoop</p>
<p>Sean Paul - Temperature</p>
<p>Sir Mix-A-Lot - Baby Got Back</p>
<p>69 Boyz - Tootsie Roll</p>
<p>Snoop Dogg - What's My Name?</p>
<p>Snow - Informer</p>
<p>TLC - No Scrubs</p>
<p>Tone Loc - Wild Thing</p>
<p>Tupac - California Love</p>
<p>2 Chainz - I’m Different</p>
<p>Vanilla Ice - Ice Ice Baby</p>
<p>Warren G - Regulate</p>
<p>Wreckx-N-Effect - Rumpshaker</p>
<p>Young MC - Bust A Move</p>

<p>COCKTAILS AND DINNER JAMS.</p>

<p>Afro-Cuban All Stars</p>
<p>Air</p>
<p>Al Green</p>
<p>The Aluminum Group</p>
<p>American Analog Set</p>
<p>Andrew Bird</p>
<p>Animal Collective</p>
<p>Arcade Fire</p>
<p>Astrud Gilberto</p>
<p>Avett Brothers</p>
<p>Band Of Horses</p>
<p>Beach House</p>
<p>Bebel Gilberto</p>
<p>Beck</p>
<p>Beirut</p>
<p>Belle & Sebastian</p>
<p>Ben Harper</p>
<p>Best Coast</p>
<p>Bill Callahan</p>
<p>Bill Withers</p>
<p>Billie Holiday</p>
<p>Blossom Dearie</p>
<p>Bon Iver</p>
<p>Bonnie “Prince” Billy</p>
<p>Brian Eno</p>
<p>Broadcast</p>
<p>Broken Bells</p>
<p>Broken Social Scene</p>
<p>Buena Vista Social Club</p>
<p>Caetano Veloso</p>
<p>Calexico</p>
<p>Camera Obscura</p>
<p>Cat Power</p>
<p>Cibo Matto</p>
<p>Cocteau Twins</p>
<p>Coldplay</p>
<p>Dave Brubeck</p>
<p>David Axelrod</p>
<p>David Byrne</p>
<p>Death Cab For Cutie</p>
<p>The Decemberists</p>
<p>Dinah Washington</p>
<p>Diplo</p>
<p>Dirty Projectors</p>
<p>Django Reinhardt</p>
<p>DJ Shadow</p>
<p>Ella Fitzgerald</p>
<p>Erlend Oye</p>
<p>Etta James</p>
<p>The Excitements</p>
<p>Father John Misty</p>
<p>Feist</p>
<p>Flaming Lips</p>
<p>Fleet Foxes</p>
<p>Florence + The Machine</p>
<p>Four Tet</p>
<p>France Gall</p>
<p>Francoise Hardy</p>
<p>Frank Ocean</p>
<p>Frank Sinatra</p>
<p>The Free Design</p>
<p>Galaxie 500</p>
<p>Gram Parsons</p>
<p>Grateful Dead</p>
<p>Grizzly Bear</p>
<p>Iron & Wine</p>
<p>Jens Lekman</p>
<p>John Coltrane</p>
<p>Johnny Cash</p>
<p>Jose Gonzalez</p>
<p>Kings Of Convenience</p>
<p>Lee Hazlewood</p>
<p>Louis Armstrong</p>
<p>Luna</p>
<p>Lykke Li</p>
<p>Madeleine Peyroux</p>
<p>The Magnetic Fields</p>
<p>Mark Mothersbaugh/Wes Anderson Movie</p>
<p>Soundtracks</p>
<p>Massive Attack</p>
<p>Matt & Kim</p>
<p>Mayer Hawthorne</p>
<p>Mazzy Star</p>
<p>The Meters</p>
<p>Miles Davis</p>
<p>Mumford & Sons</p>
<p>The National</p>
<p>Neko Case</p>
<p>Neutral Milk Hotel</p>
<p>Nick Drake</p>
<p>Nina Simone</p>
<p>Nouvelle Vague</p>
<p>Of Montreal</p>
<p>Os Mutantes</p>
<p>Paul Desmond</p>
<p>Pernice Brothers</p>
<p>Phoenix</p>
<p>Pink Martini</p>
<p>Portishead</p>
<p>The Postal Service</p>
<p>The Radio Dept</p>
<p>Radiohead</p>
<p>Ra Ra Riot</p>
<p>Raphael Saadiq</p>
<p>Ratatat</p>
<p>Ray LaMontagne</p>
<p>Regina Spektor</p>
<p>RJD2</p>
<p>Rufus Wainwright</p>
<p>Saint Etienne</p>
<p>Saint Vincent</p>
<p>The Sea & Cake</p>
<p>Serge Gainsbourg</p>
<p>Sharon Jones & The Dap-Kings</p>
<p>She & Him</p>
<p>Sigur Ros</p>
<p>Spacemen 3</p>
<p>Spiritualized</p>
<p>Spoon</p>
<p>Stan Getz</p>
<p>Stars</p>
<p>Stereolab</p>
<p>Sufjan Stevens</p>
<p>Thievery Corporation</p>
<p>Tom Waits</p>
<p>Two Door Cinema Club</p>
<p>Ulrich Schnauss</p>
<p>Vampire Weekend</p>
<p>The Velvet Underground & Nico</p>
<p>Wilco</p>
<p>The XX</p>
<p>Yo La Tengo</p>
<p>OR PICK YOUR GENRE!</p>
<p>70s AM Radio Classics</p>
<p>Classical</p>
<p>BlueNote/Verve/Impulse Jazz</p>
<p>Bossa Nova</p>
<p>Downtempo Electronica</p>
<p>Jazz Standards</p>
<p>Lite Indie Rock</p>
<p>The Rat Pack/Mob Hits</p>
<p>Or you can just let us do our thing</p>