<div id="imageView2">
      <a class='mainimage2' href='http://bridgeportart.com/'></a>
      <h1>Skyline Loft</h1>
      <a class='secondimage' href='http://www.skylineloft.com/'></a>
	<p>Bridgeport Art Center</p>
	<p>1200 W 35th Street Chicago, IL 60609</p>
	<div class="x-map with-container">
		<div class="x-map-inner">
			<iframe style="border: 0;" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2972.8672773330973!2d-87.65670899999999!3d41.831156!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x880e2c336190c171%3A0xc0f071566b0fae37!2s1200+W+35th+St%2C+Chicago%2C+IL+60609!5e0!3m2!1sen!2sus!4v1418839931100" width="400" height="250" frameborder="0">
			</iframe>
		</div>
	</div>
	<ul>
		<li>Only 5 miles from downtown</li>
		<li>6 minutes from Cellular Field</li>
		<li>Access from I-90/94 and Lake Shore</li>
		<li>7 minutes from the I-55 Eisenhower</li>
		<li>12 minutes from McCormick</li>
	</ul>
</div>


