<h2>#JerSar2016</h2> 
<h4>Instagram / Twitter</h4>

<center>
<!-- Instagram Widget (SnapWidget) -->
<script src="http://snapwidget.com/js/snapwidget.js"></script>
<iframe src="http://snapwidget.com/in/?h=amVyc2FyMjAxNnxpbnwxMjV8MnwzfEVEREE3NHx5ZXN8NXxub25lfG9uU3RhcnR8bm98eWVz&ve=050115" title="Instagram Widget" class="snapwidget-widget" allowTransparency="true" frameborder="0" scrolling="no" style="border:none; overflow:hidden;"></iframe>

<!-- Twitter Widget -->
<a class="twitter-timeline" href="https://twitter.com/hashtag/JerSar2016" data-widget-id="552298896865902594" data-chrome="noheader noborders transparent" style="width:650px;"></a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</center>
</div>