<div class="row">
	<div class="col-lg-12 text-center">
		<h1>West Loop</h1>
	</div>	
</div>

<div class="row">
	<div class="col-lg-12 text-center">
	<h2>Restaurants</h2>

		<div class="col-md-6 text-left">
			<p>Alhambra Palace</p>
			<p>Anna's Asian Bistro</p>
			<p>Au Cheval ★★★★★</p>
			<p>Avec</p>
			<p>The Aviary</p>
			<p>Baba Pita</p>
			<p>Bar Takito</p>
			<p>The Beer Bistro ★★★★</p>
			<p>BellyQ</p>
			<p>Bespoke Cuisine</p>
			<p>Blackbird</p>
			<p>Bombacigno's J & C Restaurant</p>
			<p>Bombon Cafe</p>
			<p>Bottom Lounge</p>
			<p>BQ2Go</p>
			<p>The Brass Monkey</p>
			<p>Butterfly Sushi</p>
			<p>Cafe Ciao</p>
			<p>Carnivale</p>
			<p>Cemitas Puebla</p>
			<p>CH Distillery</p>
			<p>Chicken Shop</p>
			<p>Cobra Lounge</p>
			<p>The Corned Beef Factory</p>
			<p>De Cero</p>
			<p>Dine</p>
			<p>Embeya</p>
			<p>Flat Top Grill</p>
			<p>Formento's</p>
			<p>Girl & the Goat</p>
			<p>Glazed and Infused</p>
			<p>Grace</p>
			<p>Graham Elliot Bistro</p>
			<p>Grange Hall Burger Bar</p>
			<p>Green Street Smoked Meats</p>
			<p>Haymarket Pub & Brewery</p>
			<p>High Five Ramen</p>
			<p>Jaipur</p>
			<p>Jaks Tap</p>
			<p>J.P. Graziano</p>
			<p>La Colombe Torrefaction</p>
			<p>La Luce</p>
			<p>La Sardine</p>
			<p>La Sirena Clandestina</p>
			<p>Le Pain Quotidien</p>
			<p>Little Goat Diner</p>
			<p>Lumen</p>
			<p>Macello</p>
			<p>Mart Anthony's</p>
			<p>Más</p>
			<p>Maude's Liquor Bar</p>
			<p>Meiji</p>
			<p>Momotaro</p>
			<p>Monteverde</p>
			<p>Moto</p>
			<p>Nando's Peri-Peri</p>
			<p>Nellcôte</p>
			<p>New Line Tavern</p>
			<p>Next</p>
			<p>Nia</p>
			<p>Nonna's</p>
			<p>One SixtyBlue</p>
			<p>Paddy O'Fegan's</p>
			<p>Palace Grill</p>
			<p>Park Tavern</p>
			<p>Pizza East</p>
			<p>Porkchop</p>
			<p>Publican Quality Meats</p>
			<p>The Publican</p>
			<p>Ramen Takeya</p>
			<p>Saigon Sisters</p>
			<p>Salero</p>
			<p>Sushi Dokku</p>
			<p>Tanoshii Sushi Mike's</p>
			<p>Tête Charcuterie</p>
			<p>Thai Urban Kitchen</p>
			<p>Tomato Head Pizza Kitchen</p>
			<p>Tonishii</p>
			<p>Vera</p>
			<p>Viaggio Ristorante & Lounge</p>
			<p>Vincenzo's</p>
			<p>Vivo</p>
			<p>West Loop Salumi</p>
		</div>
		<div class="col-md-6 text-left">
			<p class="text-muted">1240 W. Randolph St.</p>
			<p class="text-muted">813 W. Lake St.</p>
			<p class="text-muted">800 W. Randolph St.</p>
			<p class="text-muted">615 W. Randolph St.</p>
			<p class="text-muted">955 W. Fulton Market St.</p>
			<p class="text-muted">1032 W. Lake St.</p> </p>
			<p class="text-muted">201 N. Morgan St.</p>
			<p class="text-muted">1061 W. Madison St.</p>
			<p class="text-muted">1400 W. Randolph St.</p>
			<p class="text-muted">1358 W. Randolph St.</p>
			<p class="text-muted">619 W. Randolph St.</p>
			<p class="text-muted">558 W. Van Buren St.</p>
			<p class="text-muted">36 S. Ashland Ave.
			<p class="text-muted">1375 W. Lake St.</p>
			<p class="text-muted">1400 W. Randolph St.</p>
			<p class="text-muted">401 N. Morgan St.</p>
			<p class="text-muted">1131 W. Madison St.</p>
			<p class="text-muted">939 W. Madison St.</p>
			<p class="text-muted">702 W. Fulton St.</p>
			<p class="text-muted">817 W. Fulton Market
			<p class="text-muted">564 W. Randolph St.</p>
			<p class="text-muted">125 N. Green St.</p>
			<p class="text-muted">235 N. Ashland Ave.
			<p class="text-muted">1009 W. Lake St.</p>
			<p class="text-muted">814 W. Randolph St.</p>
			<p class="text-muted">733 W. Madison St.</p>
			<p class="text-muted">564 W. Randolph St.</p>
			<p class="text-muted">1000 W. Washington St.</p>
			<p class="text-muted">925 W. Randolph
			<p class="text-muted">809 W. Randolph St.</p>
			<p class="text-muted">813 W. Fulton St.</p>
			<p class="text-muted">652 W. Randolph St.</p>
			<p class="text-muted">841 W. Randolph St.</p>
			<p class="text-muted">844 W. Randolph St.</p>
			<p class="text-muted">112 N. Green St.</p>
			<p class="text-muted">737 W. Randolph St.</p>
			<p class="text-muted">112 N. Green St.</p>
			<p class="text-muted">847 W. Randolph St.</p>
			<p class="text-muted">901 W. Jackson Blvd.
			<p class="text-muted">901 W. Randolph St
			<p class="text-muted">955 W. Randolph St.</p>
			<p class="text-muted">1393 W. Lake St.</p>
			<p class="text-muted">111 N. Carpenter St.</p>
			<p class="text-muted">954 W. Fulton St.</p>
			<p class="text-muted">135 N. Clinton
			<p class="text-muted">820 W. Randolph St.</p>
			<p class="text-muted">839 W. Fulton Mkt.
			<p class="text-muted">1235 W. Lake St.</p>
			<p class="text-muted">1200 W. Hubbard St.</p>
			<p class="text-muted">800 W. Washington St.</p>
			<p class="text-muted">840 W. Randolph St.</p>
			<p class="text-muted">623 W. Randolph St.</p>
			<p class="text-muted">820 W. Lake St.</p>
			<p class="text-muted">1020 W Madison St.</p>
			<p class="text-muted">945 W. Fulton Mkt.
			<p class="text-muted">953 W. Randolph St.</p>
			<p class="text-muted">833 W. Randolph St.</p>
			<p class="text-muted">201 N. Clinton St.</p>
			<p class="text-muted">953 W. Fulton Market
			<p class="text-muted">803 W. Randolph St.</p>
			<p class="text-muted">925 W. Randolph St.</p>
			<p class="text-muted">1400 W. Randolph St.</p>
			<p class="text-muted">204 N. Halsted St.</p>
			<p class="text-muted">1408 W. Madison St.</p>
			<p class="text-muted">1645 W. Jackson Blvd.
			<p class="text-muted">125 N. Green St.</p>
			<p class="text-muted">941 W. Randolph St.</p>
			<p class="text-muted">825 W. Fulton Market St.</p>
			<p class="text-muted">837 W. Fulton St.</p>
			<p class="text-muted">819 W. Fulton Market St.</p>
			<p class="text-muted">567 W. Lake St.</p>
			<p class="text-muted">621 W. Randolph St.</p>
			<p class="text-muted">823 W. Randolph St.</p>
			<p class="text-muted">720 W. Randolph
			<p class="text-muted">1114 W. Randolph St.</p>
			<p class="text-muted">500 W. Madison St.</p>
			<p class="text-muted">945 W. Randolph St.</p>
			<p class="text-muted">720 W. Randolph St.</p>
			<p class="text-muted">1023 W. Lake St.</p>
			<p class="text-muted">1330 W. Madison St.</p>
			<p class="text-muted">1104 W. Madison St.</p>
			<p class="text-muted">838 W. Randolph St.</p>
			<p class="text-muted">1111 W. Randolph St.</p>
		</div>

	</div>
</div>
