@import "application_settings";

.flash {

  border-radius: 4px;

  &.plain {

    background: #eee; // Gray
    color: $color_primary;
    padding: ms(-1);
    position: relative;
    z-index: 100;

    img {
      border: none;
    }

    &.not-flash {
      margin: 0 0 $baseline !important;
    }

    p {
      width: 100% !important;
    }

  }

  &.notice {
    @extend .plain;

    background: $background-yellow;
    box-shadow: 0px 2px 6px rgba(37, 37, 39, 0.27);

    a {
      color: #777;
    }
    a:hover {
      text-decoration: bold;
    }

  }

  &.info {
    @extend .plain;

    background: $background-blue;
    box-shadow: 0px 1px 4px rgba(37, 37, 39, 0.27);

    a, .f-subhead {
      color: #777;
    }
    a:hover {
      style: none;
    }

  }

}

.flash_msg {
  border-radius: 0px;
  box-shadow: none !important;
  cursor: pointer;
  transition: all 1s ease;
  -webkit-transform: translate(0, 200%);
  -ms-transform: translate(0, 200%);
  transform: translate(0, 200%);
  margin-bottom: 0 !important;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;

  &.popup {
    -webkit-transform: translate(0, 0%);
    -ms-transform: translate(0, 0%);
    transform: translate(0, 0%);

  }


  .close_flash {
    float: right;
  }
}

.flash {

  margin-bottom: ms(-1);

  h3 {
    border-bottom: none important;
    font-size: ms(1);
    text-transform: none;
  }
}