/* 
*= require owl.carousel
*= require owl.theme

#owl-demo .item img{
    display: block;
    width: 200px;
    height: 200px;
}
*/

/* 

Basic CSS 

*/

body {
background:#fff;
color:#0F0F0F;
font:15px/20px "Raleway","Helvetica Neue",Helvetica,sans-serif;
margin:32px 0 0;
padding:0;
}

div,ul,h1,h2,h3,li,p,img {
margin:0;
padding:0;
}

ul {
list-style-type:none;
}

/* 

Header CSS 

*/

#topPanel {
width:762px;
height:100px;
position:relative;
margin:0 auto;
padding:0;
}

#topPanel img {
width:125px;
height:100px;
z-index:1;
position:absolute;
opacity:1;
margin:0 0 0 21px;
padding:0;
}

#topPanel .headone {
text-align:left;
font-size:30px;
font-weight:700;
font:Calibri;
color:#AF7817;
background:#fff;
}

#topPanel ul {
display:block;
width:732px;
height:36px;
position:absolute;
top:0;
right:0;
border-bottom:2px solid #AF7817;
margin:11px 0 0;
padding:0 29px 0 0;
}

/* 

Shared Head and Footer CSS 

*/

#topPanel ul li, #footerPanel ul li {
float:right;
font:12px/36px "Raleway","Helvetica Neue",Helvetica,sans-serif;
font-weight:300;
font-size: 13px;
font-style: normal;
letter-spacing: 0.21em
}

#topPanel ul li a, #footerPanel ul li a {
width:74px;
height:36px;
display:block;
color:#05899d;
background:#fff;
text-decoration:none;
text-align:center;
top:0;
left:0;
margin:0 1px 0 0;
padding:0;
}

#topPanel ul li a:hover, #footerPanel ul li a:hover {
width:74px;
height:36px;
text-decoration:none;
background:no-repeat 0 0 #AF7817;
color:#fff;
}

#topPanel ul li.active, #footerPanel ul li.active {
width:74px;
height:36px;
text-decoration:none;
background:#966f33;
color:#fff;
}

/* 

Footer CSS 

*/

#footerPanel {
width:762px;
height:60px;
position:relative;
margin:0 auto;
padding:0;
}

#footerPanel ul {
display:block;
width:732px;
height:36px;
position:absolute;
top:0;
right:0;
border-top:2px solid #AF7817;
margin:11px 0 0;
padding:0 29px 0 0;
}

#copyright {
height:15px;
text-align:left;
color:#05899d;
background:#fff;
font:11px "Raleway","Helvetica Neue",Helvetica,sans-serif;
padding:12px 0 0;
font-weight:300;
font-style: normal;
letter-spacing: 0.21em
}

#clearfooter {
height:20px;
clear:both;
}


/* 

Body CSS

*/

#bodyPanel {
width:650px;
height:auto;
position:relative;
margin:0 auto;
padding:0 auto;
font-size: 15px;
font-style: normal;
font-weight: 300;
letter-spacing: 0.21em
}

#bodyPanel #imageView{
width:400px; 
height:400px; 
position:relative; 
margin:0 auto; 
padding:0 0 10px 0;
}

#bodyPanel #imageView a.mainimage { 
float: right; 
padding: 0px 0; 
margin: 0 0 4px 0; 
background:url(/assets/farm.png) no-repeat 0 0;
background-size: 400px 400px;
background-repeat: no-repeat;  
color: #4C2516; 
width:400px; 
height:400px; 
opacity: 0.8; 
border-radius:25px;
text-decoration: none; 
font-size: 0.9em; 
text-align: left; 
}

#bodyPanel #imageView a.mainimage:hover { 
background:url(/assets/farm.png) no-repeat 0 0; 
background-size: 400px 400px;
background-repeat: no-repeat;  
opacity: 0.8;
}

#bodyPanel #imageView2{
width:400px; 
height:750px; 
position:relative; 
margin:0 auto; 
padding:0 0 10px 0;
}

#bodyPanel #imageView2 a.mainimage2 { 
float: right; 
padding: 0px 0; 
margin: 0 0 4px 0; 
background:url(/assets/BridgeportLogo.png) no-repeat 0 0;
background-size: 400px 120px;
background-repeat: no-repeat;  
color: #4C2516; 
width:400px; 
height:120px; 
opacity: 0.8; 
border-radius:25px;
text-decoration: none; 
font-size: 0.9em; 
text-align: left; 
}

#bodyPanel #imageView2 a.secondimage { 
float: right; 
padding: 0px 0; 
margin: 0 0 4px 0; 
background:url(/assets/skylineloft.jpg) no-repeat 0 0;
background-size: 400px 200px;
background-repeat: no-repeat;  
color: #4C2516; 
width:400px; 
height:200px; 
opacity: 0.6; 
border-radius:25px;
text-decoration: none; 
font-size: 0.7em; 
text-align: left; 
}

#bodyPanel #imageView3{
width:400px; 
height:500px; 
position:relative; 
margin:0 auto; 
padding:0 0 10px 0;
}

#bodyPanel #imageView3 a.mainimage3 { 
display: inline-block;
padding: 0px 0; 
margin: 0 0 0 0; 
background:url(/assets/Hyatt.png) no-repeat 0 0;
background-size: 150px 150px;
background-repeat: no-repeat;  
color: #4C2516; 
width:150px; 
height:150px; 
opacity: 0.8; 
border-radius:25px;
}

#bodyPanel p {
color:#0F0F0F;
margin:0;
padding:0 0px 10px 0px;
}

#bodyPanel p.capstext {
font:18px/24px "Raleway","Helvetica Neue",Helvetica,sans-serif;
font-style:italic;
color:#555;
margin:0 35px 10px 0;
padding:2px 10px 0 25px;
}

#bodyPanel h1 {
background:#fff;
text-align:center;
display:block;
height:50px;
font:40px/40px "Raleway","Helvetica Neue",Helvetica,sans-serif;
font-weight:800;
color:#AF7817;
margin:0;
padding:4px 0 0 0;
}

#bodyPanel h2 {
background:#fff;
text-align:center;
display:block;
height:40px;
font:30px/30px "Raleway","Helvetica Neue",Helvetica,sans-serif;
font-weight:400;
color:#AF7817;
margin:0;
padding:0 0 10px 0;
}

#bodyPanel h3 {
background:#fff;
display:block;
text-align:center;
font:20px/20px "Raleway","Helvetica Neue",Helvetica,sans-serif;
font-weight:400;
color:#AF7817;
margin:0;
padding:0 0 4px 0;
}

#bodyPanel h4 {
background:#fff;
text-align:center;
display:block;
font:15px/15px "Raleway","Helvetica Neue",Helvetica,sans-serif;
font-weight:400;
color:#AF7817;
margin:0;
padding:0 0 4px 0;
}

#bodyPanel h5 {
background:#fff;
text-align:center;
display:block;
font:12px/12px "Raleway","Helvetica Neue",Helvetica,sans-serif;
font-weight:400;
color:#AF7817;
margin:0;
padding:0 0 4px 0;
}

#bodyPanel ul {
width:400;

}

#bodyPanel li {
width:400;


}
