/* Demo site CSS. Not mobile first, not semantic, not optimized, made for 20 minutes, mess */
html, body, div, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, ol, ul, li, form, fieldset, legend, label, table, header, footer, nav, section, figure {
  margin: 0;
  padding: 0
}
figure {
  display: block;
}
html {
  /*overflow-y: scroll;*/
}

/* NavBar Headers */

        .navbar {
            background-color: #B5B2AF; 
            border-color: #8B9476;
        }
        .navbar-wrapper {
            position: absolute;
            top: 20px;
            left: 0;
            width: 100%;
            height: 51px;
        }

        .navbar a {
          color: #fcf8e5;
        }

        .navbar a:hover {
          color: #8B9476;
        }


        .navbar-toggle {
          background-color: #8B9476;
        }

        .navbar-toggle .icon-bar {
          background-color: #fcf8e5;
        }

        .navbar-wrapper > .container {
            padding: 0;
        }

        .navbar-header > .navbar-brand {
            padding: 5px 15px 0 15px;
        }

        .page-scroll > ul:hover, li:hover, a:hover {
            color: #8B9476;
        }


        .navbar-brand img {
            width: auto;
            max-width: 50px;
            height: auto;
            border: 0;
        }

        .row {
            width:100%;
            margin-left: 0;
            margin-left: 0;
        }

        #footer {

          background-color: #EEE;
        }
        

        @media all and (max-width: 768px ){
            .navbar-wrapper {
                position: relative;
                top: 0px;
            }
        }

/* End Navbar Styles */

.size-pic img {
  width: auto;
  max-width: 200px;
  height: auto;
  border: 0;
}

.collage-pic img {
  width: auto;
  max-width: auto;
  height: auto;
  border: 0;
}

.bridgeport-demo-pic img {
  width: auto;
  max-width: 200px;
  height: auto;
  border: 0;
}


a {
    color: #8B9476;
  }

.small-font a {
    color: #8B9476;
    font-size: 12px;
  }  


a:hover {
    color: #8B9476;
    text-decoration:none;
  }

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font-family: "myriad-pro","Myriad Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 18px;
  line-height: 26px;
  color: #8B9476;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-font-feature-settings: "liga", "kern";

}

img {
  width: auto;
  max-width: 100%;
  height: auto;
  border: 0;
}

p {
  margin: 0 0 12px;
}

a > .small-font {
  font-size: 12px;
}

ul {
  list-style: disc;
}
ul, ol {
  padding: 0;
  margin: 0 0 12px 25px;
}
li {
  margin: 0 0 0 0;
}
h1, h2, h3, h4, h5, h6 {
  margin: 0;
  font-weight: normal;
  padding: 10px 0 10px 0;
}


h1 {
  font-size: 48px;
  line-height: 1;
  margin: 0;
  font-weight: 600;
  margin-bottom: 6px;
}

/* Linear Gradient */
.section--head {
  margin: 0;
  padding: 40px 0;
}

.section {
  margin: 0;
  background: #EEE;
  padding: 1% 8% 8% 8%;
}

.section-heading h2 {
  padding-top: 4%;
}


.newflash {

    background: #eee0b7; 
    color: #8B9476;
    padding: ms(-1);
    position: relative;
    z-index: 100;

  }

  .newnotice {

    background: #d0d0d0;
    box-shadow: 0px 2px 6px rgba(37, 37, 39, 0.27);
    border-radius: 15px 50px;
    border: 8px solid #8B9476;

  }

