<nav class="navbar navbar-default navbar-custom" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <img src="<%= asset_path( 'js2016.png' ) %>" class="img-responsive" max-width:100px height:100px >Jer Sar 2016</img>
      <ul>
  		<a><%= link_to( 'Hotel', {:controller => "welcome", :action => 'hotel'}) %></a>
  		<li><%= link_to( 'Details', {:controller => "welcome", :action => 'venue'}) %></li>
      </ul>
    </div>
  </div>
</nav>